@charset "utf-8";
/* CSS Document */
*{
	
	margin:0;
	padding: 0;
}
.theb{background-image: url(white,grey);background-image: linear-gradient(to bottom right, white, grey);}
.bg{width:100%;
	height:100vh;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("fitness-gym-girl-nb-1920x1080.jpg");
	bakground-visibility:hidden;
	animation:slidebg 8s linear infinite 0s;
	animation-timing-function: ease-in-out;
}
.banner-text ul li{
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	
	display: inline-block;
	padding:20px 15px;
	text-transform:uppercase;
	color:#fff;
	font-weight: bold;
	font-size:20px;
	 text-shadow:    1px 1px 1px #fff,
        1px 2px 1px #000,
        1px 3px 1px #000,
        1px 4px 1px #000,
        1px 5px 1px #fff,
     
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);

	
}
.banner-text ul li:hover{
	color:cornflowerblue;
}
.banner-text{
	width:100%;
   position:absolute;
}
.banner-text ul{
	float:right;
	height: 50px;}
.banner-text ul li:hover{
	color:cornflowerblue;
}
.all-input{
	
	text-align: center;

	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	
	
	padding:20px 15px;
	color:#FFFFFF;
	font-weight: bold;
	font-size:20px;
	 	 text-shadow:    1px 1px 1px #fff,
        1px 2px 1px #000,
        1px 3px 1px #000,
        1px 4px 1px #000,
        1px 5px 1px #fff,
     
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);


}
.submit-button{
background-color: #CFCFCF;
	border-radius: 12px;

padding: 8px 18px;


}

.submit-button:hover{
background-color:cornflowerblue;	
	color:white;
	border-color:cornflowerblue;
}
@keyframes slidebg{
	0%{background-image: url("fitness-gym-girl-nb-1920x1080.jpg");}
	
	20%{
		background-image: url("fitnessm-background-15.jpg");
	}40%{
		background-image: url("Fitness_workout_435007_1920x1080.jpg");
	}
	60%{
		background-image: url("Workout-Wallpaper-03-1920-x-1080.jpg");
	}
	80%{
		background-image: url("Fitness_Legs_Push-up_Dumbbells_Brown_haired_565163_1920x1080.jpg");
	
	}
	100%{
		background-image: url("5561204.jpg");
	}
		
	
}